name: Style

on:
  push:
    branches:
      - master
      - main
  pull_request:
    branches:
      - master
      - main

env:
  CPM_SOURCE_CACHE: ${{ github.workspace }}/cpm_modules

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/cache@v3
        with:
          path: "**/cpm_modules"
          key: ${{ github.workflow }}-cpm-modules-${{ hashFiles('**/CMakeLists.txt', '**/*.cmake') }}

      - name: Setup CMake 4.0
        uses: jwlawson/actions-setup-cmake@v2
        with:
          cmake-version: "4.0.0"

      - name: Install format dependencies
        run: pip3 install clang-format cmake_format pyyaml

      - name: configure
        run: cmake -B ${{github.workspace}}/build

      - name: check style
        run: cmake --build build --target check-format
